.board {
  display: flex;
  width: 75vh;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 50px;
}

.square {
  width: 25vh;
  height: 25vh;
  border: 2px solid white;
  border-radius: 10px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
